In [1]:
import pandas as pd

calls_df = pd.read_csv('./datasets/moved_megaline_calls.csv')
internet_df = pd.read_csv('./datasets/moved_megaline_internet.csv')
messages_df = pd.read_csv('./datasets/moved_megaline_messages.csv')
plans_df = pd.read_csv('./datasets/moved_megaline_plans.csv')
users_df = pd.read_csv('./datasets/moved_megaline_users.csv')

             user_id       duration
count  137735.000000  137735.000000
mean     1247.658046       6.745927
std       139.416268       5.839241
min      1000.000000       0.000000
25%      1128.000000       1.290000
50%      1247.000000       5.980000
75%      1365.000000      10.690000
max      1499.000000      37.600000